.list{
  display: flex;
}

.product{
  margin: 0% 1%;
  height: 350px;
  width: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product_img{
  border: 1px solid black;
  height: 80%;
  width: 95%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.product_price{
  width: 90%;
  font-size: 25px;
}
.product_name{
  width: 90%;

}