.form{
    display: flex;
    flex-direction: column;
    height: 700px;
}


.product__change_container{
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.form__input{
    height: 45px;
    width: 300px;
    margin: 5px;
    border: 2px solid pink;
    font-size: medium;
    background: #fde5ea;
}

.form__buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}